$rendersize: 100%;

html, body {
    overflow: hidden;
    width: $rendersize;
    height: $rendersize;
    margin: 0;
    padding: 0;
}

#renderCanvas {
    width: $rendersize;
    height: $rendersize;
    touch-action: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

div {
    border: 1px solid black;
}